<div class="container">
  <div class="vista">
    <h1>All Valley</h1>
    <img class="background-image" src="/images/city.jpg" alt="city">
  </div>
  <div class="aside">
    <div class="civilians">
      <h2>Debs</h2>
      <h1>{{{count}}}</h1>
      <img class="card-image" src="/images/crowd.jpg" alt="crowd">
      <form action="/city" method="POST">
        <button class="btn btn-primary">recruit</button>
      </form>
    </div>
  </div>
</div>