<div class="container">
  <div class="main">
    <div class="vista">
      <h1>All Valley</h1>
      <img class="background-image" src="/images/city.jpg" alt="city">
    </div>
    <div class="aside">
      <div class="card">
        <h2>Debs</h2>
        <h1>{{{count}}}</h1>
        <img class="card-image" src="/images/crowd.jpg" alt="crowd">
        <form action="/city" method="POST">
          <button class="btn btn-primary">recruit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="card">
      <a href="/main">
        <img class="card-image" src="/images/outside-dojo.jpg" alt="outside dojo">
        <h2>Back to Dojo</h2>
      </a>
    </div>
      <div class="card">
      <a href="/main">
        <img class="card-image" src="/images/look-for-fight.jpg" alt="outside dojo">
        <h2>Look for a fight</h2>
      </a>
    </div>
  </div>
</div>