<div class="container">
  <div class="main">
    <div class="vista">
    <h1>Drop-out</h1>
    <form action="/drop-out" method="POST" id="logIn">
        <div class="main-classes">
          <div class="list">
            <div class="entry-form">
            </div>
            <div class="entry-form">
              <label for="username"><h4>Username</h4></label>
              <input class="input" type="text" name="username" id="username" placeholder="your username">
            </div>
            <div class="entry-form">
              <label for="password"><h4>Password</h4></label>
              <input class="input" type="password" name="password" id="password" placeholder="************">
            </div>
            <div class="entry-form">
            <h4><!-- --></h4>
            </div>
            <div class="entry-form">
              <button type="submit" class="btn btn-primary">Drop-out</button>
            </div>
            <div class="entry-form">
              {{#if errorMessage}}
                <p>{{errorMessage}}</p>
              {{/if}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
 <div class="menu">
    <div class="card classes">
      <div class="info">
        <h4>Trainees</h4>
        <h3>{{{traineesNumb}}}</h3>
      </div>
      <a href="/classes">
        <img class="card-image" src="/images/class.jpg" alt="Martial Art Class">
        <h2>Go to Classes</h2>
      </a>
    </div>
    <div class="card valley">
      <div class="info">
        <h4>Debs</h4>
        <h3>{{{debs}}}</h3>
      </div>
      <a href="/city">
        <img class="card-image" src="/images/city.jpg" alt="outside dojo">
        <h2>Go to City</h2>
      </a>
    </div>
  </div>
</div>