<div class="container">
  <div class="main">
    <div class="vista">
    <h1>Dragon Kai Dojo</h1>
    <img class="background-image" src="/images/ninja-warrior-bg.jpg" alt="ninja-warrior">
    </div>
  </div>
  <div class="main-menu">
    <!-- -->
  </div>
  <div class="menu">
    <div class="card log-in">
      <div class="info">
      </div>
      <a href="/log-in">
        <img class="card-image" src="/images/log-in.jpg" alt="log-in">
        <h2>Log-in</h2>
      </a>
    </div>
    <div class="card sign-up">
      <div class="info">
      </div>
      <a href="/sign-up">
        <img class="card-image" src="/images/sign-up.jpg" alt="sign-up">
        <h2>Sign-Up</h2>
      </a>
    </div>
  </div>
</div>