<div class="container-classes">
  <div class="main-classes">
    <div class="vista">
    <h1>Log-in</h1>
    <form action="/log-in" method="POST" id="editCivilian">
        <div class="main-classes">
          <div class="list">
            <div class="entry-form">
            </div>
            <div class="entry-form">
              <label for="email"><h2>Email</h2></label>
              <input class="input" type="email" name="email" id="email" placeholder="your email">
            </div>
            <div class="entry-form">
              <label for="password"><h2>Password</h2></label>
              <input class="input" type="password" name="password" id="password" placeholder="************">
            </div>
            <div class="entry-form">
              <button type="submit" class="btn btn-primary">Join</button>
            </div>
            <div class="entry-form">
              {{#if errorMessage}}
                <p>{{errorMessage}}</p>
              {{/if}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="aside">

  </div>
  <div class="menu">
    <div class="card sign-up">
      <div class="info">
      </div>
      <a href="/sign-up">
        <img class="card-image" src="/images/sign-up.jpg" alt="sign-up">
        <h5>Don't have an account?</h5>
        <h2>Sign-Up</h2>
      </a>
    </div>
  </div>
</div>