<div class="container">
  <div class="main">
    <div class="vista">
    <h1>Log-in</h1>
    <form action="/log-in" method="POST" id="logIn">
        <div class="main-classes">
          <div class="list">
            <div class="entry-form">
            </div>
            <div class="entry-form">
              <label for="username"><h4>Username</h4></label>
              <input class="input" type="text" name="username" id="username" placeholder="your username">
            </div>>
            <div class="entry-form">
              <label for="password"><h4>Password</h4></label>
              <input class="input" type="password" name="password" id="password" placeholder="************">
            </div>
            <div class="entry-form">
            <h4><!-- --></h4>
            </div>
            <div class="entry-form">
              <button type="submit" class="btn btn-primary">Join</button>
            </div>
            <div class="entry-form">
              {{#if errorMessage}}
                <p>{{errorMessage}}</p>
              {{/if}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="menu">
    <div class="card sign-up">
      <div class="info">
      </div>
      <a href="/sign-up">
        <img class="card-image" src="/images/sign-up.jpg" alt="sign-up">
        <p>Don't have an account?</p>
        <h2>Sign-Up</h2>
      </a>
    </div>
  </div>
</div>