<div class="container">
  <div class="vista">
    <h1>Your Dojo </h1>
    <img class="background-image" src="/images/dojo.jpg" alt="real dojo">
    <h1>Hi!</h1>
  </div>
  <div class="aside">

  </div>
</div>