<div class="container">
  <div class="header">
    <a href="/log-out"><h4>Log-out</h4></a>
  </div>
  <div class="main">
    <div class="vista">
      <h1>Dojo </h1>
      <img class="background-image" src="/images/dojo.jpg" alt="real dojo">
    </div>
    <div class="aside">
      <div class="card master">
        <div class="info">
          <h4>Masters</h4>
          <h3 id="master-counter">{{{masters}}}</h3>
        </div>
        <img class="card-image" src="/images/male4.jpg" alt="crowd">
        <form action="/main" method="POST">
          <button id="master-recruit" class="btn btn-primary recruit">Recruit</button>
        </form>
        {{#if errorMessage}}
           <p>{{errorMessage}}</p>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="card classes">
      <div class="info">
        <h4>Trainees</h4>
        <h3>{{{traineesNumb}}}</h3>
      </div>
      <a href="/classes">
        <img class="card-image" src="/images/class.jpg" alt="Martial Art Class">
        <h2>Go to Classes</h2>
      </a>
    </div>
    <div class="card valley">
      <div class="info">
        <h4>Debs</h4>
        <h3>{{{debs}}}</h3>
      </div>
      <a href="/city">
        <img class="card-image" src="/images/city.jpg" alt="outside dojo">
        <h2>Go to City</h2>
      </a>
    </div>
  </div>
</div>