<div class="container-classes">
  <div class="main-classes">
    <div class="vista">
    <h1>Sign-Up</h1>
      <form action="/sign-up" method="POST" id="form-sign-up">
        <div class="main-classes">
          <div class="list">
            <div class="entry-form">
              <!-- -->
            </div>
            <div class="entry-form">
              <label for="email"><h4>Email</h4></label>
              <input class="input" type="email" name="email" id="email" placeholder="your email">
            </div>
            <div class="entry-form">
              <label for="username"><h4>Username</h4></label>
              <input class="input" type="text" name="username" id="username" placeholder="your username">
            </div>
            <div class="entry-form">
              <label for="password"><h4>Password</h4></label>
              <input class="input" type="password" name="password" id="password" placeholder="************">
            </div>
            <div class="entry-form">
            <h4><!-- --></h4>
            </div>
            <div class="entry-form">
              <button class="btn btn-primary">Join</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="menu">
    <div class="card log-in">
      <div class="info">
      </div>
      <a href="/log-in">
        <img class="card-image" src="/images/log-in.jpg" alt="log-in">
        <h2>Log-in</h2>
      </a>
    </div>
  </div>
</div>